@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/solid.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;

  color: var(--color);
  background: var(--background);

  --color: black;
  --background: white;

  @media (prefers-color-scheme: dark) {
    --color: #c9d1d9;
    --background: #21262d;
  }
}

.standout {
  font-family: 'Nunito Sans', sans-serif;
}
